<main>

    <div class="heroIndex">
        <div class="buttonHero">
            <a href="/article/add">Ajoutez un article</a>
            <a href="/user/connect">Connectez vous</a>
            <a href="/user/create">Inscrivez vous</a>
        </div>
    </div>

    <div class="articlesIndex">
        <!-- <h1>article avec catégorie</h1>


        <ul>
        <% post.forEach((post) => {%>
            <li>
              <h2><%= post._id %></h2>
              <h2><%= post.articles %></h2>

            </li>
        
           
                
        <%});%>
        </ul>
<p>---------------------------------------------------------</p> -->
       


        {{#each post}}
        <div class="categorieIndex">

            <div class="titleCategorie">
                <h2 name="title">{{this._id}}</h2>
            </div>

            {{#each this.articles}}   
            <div class="articleIndex">
                <img src="{{this.image}}" alt="">
                <div class="contentIndexArticle">
                    <h3 name="title">{{this.title}}</h3>
                    <p class="textIndexArticle" name="content">{{this.content}}</p>
                    <p class="authorIndexArticle" name="author">{{this.author}}</p>
                    <a href="/article/edit/{{this.id}}">Modifier article</a>
                </div>
            </div>
            {{/each}}

        </div>
        {{/each}}
    </div>

</main>